.btn {
  width: 150px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 16px;
  font-weight: 550;
}

.btn:hover {
  background: #315cfd;
  color: white;
  font-size: 19px;
}
